@import "tailwindcss";


@font-face {
  font-family: 'Gucina';
  src: url('/fonts/Gucina-SemiBold.otf') format('opentype');
  font-weight: 100; 
  font-style: normal;
  font-display: swap;
}

.font-gucina {
  font-family: 'Gucina', sans-serif; 
}

